<mat-toolbar>
    <h3 mat-dialog-title>Add new Restaurant</h3>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onNoClick()" tabIndex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>
<form (ngSubmit)="submit(formControl)" #formControl="ngForm">

    <mat-grid-list cols="2" rowHeight="360px">
        <mat-grid-tile>
            <div class="controles-container">
                <br>
                <span>Restaurant Logo</span>&nbsp;&nbsp;
                <input id="logo" type="file" type="file" (change)="onFileRestaurantUpload($event)">


                <mat-form-field>
                    <input matInput placeholder="Restaurant Name" [(ngModel)]="data.name" name="title" required>
                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <!-- <mat-form-field>
                    <input matInput placeholder="Restaurant DisplayName" [(ngModel)]="data.displayName"
                        name="displayName" required>
                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field> -->

                <mat-form-field>
                    <input matInput placeholder="Restaurant Contact Number" [(ngModel)]="data.contactNumber"
                        name="contactNumber">
                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Restaurant Password" [(ngModel)]="data.password" type="password"
                        name="title">
                </mat-form-field>

                <mat-form-field>
                    <textarea matInput #input placeholder="Restaurant Details" [(ngModel)]="data.restaurantDetails"
                        name="restaurantDetails"></textarea>
                </mat-form-field>
                <mat-label>Food Type: </mat-label>
                <mat-radio-group name="foodType" ngModel required>
                    <mat-radio-button value="1">Vegetarian</mat-radio-button>
                    <mat-radio-button value="2">Non-Vegetarian</mat-radio-button>
                    <mat-radio-button value="3">Both</mat-radio-button>
                </mat-radio-group>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <mat-select name="restaurantStatus" placeholder="Restaurant Current Status" ngModel>
                        <mat-option>None</mat-option>
                        <mat-option value="1">Active</mat-option>
                        <mat-option value="2">On-Boarding</mat-option>
                        <mat-option value="3">Banned</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select name="menu" placeholder="Restaurant Cuisine" ngModel required>
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let menu of menuList">
                            <mat-option value="{{menu.id}}">{{menu.name}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Restaurant Email" [(ngModel)]="data.email" name="email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput class="form-control" type="password" placeholder="Restaurant Re-Enter Password">
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput #input class="form-control" placeholder="Restaurant Address"
                        [(ngModel)]="data.restaurantAddress" name="restaurantAddress"></textarea>
                </mat-form-field>
                <div class="button-row">
                    <button mat-button [type]="submit" color="primary" [disabled]="!formControl.valid"
                        [mat-dialog-close]="1">Save</button>
                    <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->