<div class="container">


  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <!-- <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div> -->

    <!--Textarea for demo purposes-->
    <div *ngIf="router == '/tax'">
      <h3 mat-dialog-title>Add new Tax</h3>
      <!-- <mat-form-field color="accent">
        <input matInput placeholder="Url" [(ngModel)]="data.url" name="url">
      </mat-form-field> -->
      <div class="form">
        <mat-form-field color="accent">
          <input matInput class="form-control" placeholder="Tax Title" [(ngModel)]="data.taxTitle" name="title"
            required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput class="form-control" placeholder="Display Name" [(ngModel)]="data.displayName"
            name="displayName" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput class="form-control" placeholder="Tax Amount" [(ngModel)]="data.taxAmount" name="taxAmount"
            required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <textarea matInput #input class="form-control" placeholder="Tax Description" [(ngModel)]="data.taxDescription"
            name="taxDescription" required></textarea>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <!-- <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        formControlName="foodField">
        <mat-radio-button class="example-radio-button" *ngFor="let food of foods" [value]="food">
          {{food}}
        </mat-radio-button>
      </mat-radio-group>
      <div *ngIf="form.get('foodField').hasError('required')" class="error">
            Food is required
      </div> -->
        <mat-label>Tax Type</mat-label>&nbsp;&nbsp;
        <mat-radio-group aria-label="Select an option" [(ngModel)]="data.taxType">
          <mat-radio-button [value]="1">Forward</mat-radio-button>
          <mat-radio-button [value]="2">Backward</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="form">
        <mat-label>Order Type</mat-label>&nbsp;&nbsp;
        <mat-radio-group aria-label="Select an option" [(ngModel)]="data.orderType">
          <mat-radio-button [value]="1">Delivery</mat-radio-button>
          <mat-radio-button [value]="2">Pick Up</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div *ngIf="router == '/category'">
      <h3 mat-dialog-title>Add new Category</h3>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Category Title" [(ngModel)]="data.name" name="title" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Category DisplayName" [(ngModel)]="data.displayName" name="displayName" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Quality" [(ngModel)]="data.quality" name="Quality">
        </mat-form-field>
      </div>
      <div class="form">
        <mat-label>Logo</mat-label> &nbsp; &nbsp;
        <div width="20%">
          <input type="file" (change)="onFileUpload($event)">
        </div>
      </div>
    </div>

    <div *ngIf="router == '/discount'">
      <h3 mat-dialog-title>Add new Discount</h3>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput class="form-control" placeholder="Discount Title" [(ngModel)]="data.name" name="title"
            required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput class="form-control" placeholder="Discount DisplayName" [(ngModel)]="data.displayName"
            name="displayName" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <div style="width: 30%;">
          <mat-form-field>
            <mat-label>Discount on Category</mat-label>
            <select matNativeControl required>
              <option value="africaFood">Africa Food</option>
              <option value="africaFood">Africa Food</option>
              <option value="africaFood">Africa Food</option>
              <option value="africaFood">Africa Food</option>
            </select>
          </mat-form-field>
        </div>
        <div style="width: 30%;">
          <mat-form-field>
            <mat-label>Discount on Menu</mat-label>
            <select matNativeControl required>
              <option value="italianMenu">Italian Menu</option>
              <option value="italianMenu">Italian Menu</option>
              <option value="italianMenu">Italian Menu</option>
              <option value="italianMenu">Italian Menu</option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <div class="form">
        <mat-label>Order Type</mat-label>&nbsp;&nbsp;
        <mat-radio-group aria-label="Select an option" [(ngModel)]="data.orderType">
          <mat-radio-button [value]="1">Delivery</mat-radio-button>
          <mat-radio-button [value]="2">Pick Up</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="form">
        <mat-label>Discount Type</mat-label>&nbsp;&nbsp;
        <mat-radio-group aria-label="Select an option" [(ngModel)]="data.discountType">
          <mat-radio-button [value]="1">Percentage</mat-radio-button>
          <mat-radio-button [value]="2">Fixed</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="form">
        <mat-label>Add On</mat-label>&nbsp;&nbsp;
        <mat-radio-group aria-label="Select an option" [(ngModel)]="data.addOn">
          <mat-radio-button [value]="1">Add on Core</mat-radio-button>
          <mat-radio-button [value]="2">Add on Total</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="form">
        <div style="width: 20%;">
          <mat-label>Date Duration</mat-label>&nbsp;&nbsp;
          <mat-form-field>
            <mat-label>From Date</mat-label>
            <input matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div style="width:20%">

        </div>
        <div style="width: 20%;">
          <mat-label>Date Duration</mat-label>&nbsp;&nbsp;
          <mat-form-field>
            <mat-label>To Date</mat-label>
            <input matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput class="form-control" placeholder="Applicable Amount" [(ngModel)]="data.applicationAmount"
            name="Applicable Amount" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput class="form-control" placeholder="Discount Price" [(ngModel)]="data.discountPrice"
            name="Discount Price" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="router == '/menu'">
      <h3 mat-dialog-title>Add new Menu</h3>
      <div class="form">
        <mat-label>Menu Logo</mat-label>
        <input type="file" (change)="onFileRestaurantUpload($event)">
      </div>
      <div class="form">
        <div class="width: 50%">
          <mat-form-field color="accent">
            <input matInput class="form-control" placeholder="Menu Name" [(ngModel)]="data.name" name="title" required>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="margin_fifty">
          <mat-form-field color="accent">
            <input matInput class="form-control" placeholder="Menu DisplayName" [(ngModel)]="data.displayName"
              name="displayName" required>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form">
        <div class="width: 40%">
          <mat-label>Menu Status</mat-label>&nbsp;&nbsp;          
            <mat-radio-group [(ngModel)]="orderTypeSelected">
              <mat-radio-button *ngFor="let type of orderType" [value]="type">
                {{ type }}
              </mat-radio-button>
            </mat-radio-group>          
        </div>
        <div class="margin_fifty">
          <mat-label>Menu Food Type</mat-label>&nbsp;&nbsp;          
            <mat-radio-group [(ngModel)]="foodTypeSelected">
              <mat-radio-button *ngFor="let type of foodType" [value]="type">
                {{ type }} 
              </mat-radio-button>
            </mat-radio-group>                    
        </div>
      </div>
      <div class="form">
        <div class="custom-control custom-radio">
          <input id="male" type="radio" class="custom-control-input" value="male" 
          name="gender" ngModel required>
          <label class="custom-control-label" for="male">Male</label>
        </div>

        <div class="custom-control custom-radio">
          <input id="female" type="radio" class="custom-control-input"
           value="female" name="gender" ngModel required>
          <label class="custom-control-label" for="female">Female</label>
        </div>
      </div>
      <div class="form">
        <div class="width: 40%">
          <mat-form-field color="accent">
            <input matInput class="form-control" placeholder="Menu Price" [(ngModel)]="data.menuPrice" name="Menu Price"
              required>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="margin_fifty">
          <mat-form-field color="accent">
            <input matInput class="form-control" placeholder="Menu Category" [(ngModel)]="data.category"
              name="Menu Price" required>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form">
        <div class="width: 40%">
          <mat-form-field color="accent">
            <input matInput class="form-control" placeholder="Menu Short Code" [(ngModel)]="data.shortCode"
              name="Menu ShortCode" required>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="margin_fifty">
          <mat-form-field color="accent">
            <input matInput class="form-control" placeholder="Menu Description" [(ngModel)]="data.description"
              name="Menu Description" required>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div *ngIf="router == '/restaurant'">
      <h3 mat-dialog-title>Add new Restaurant</h3>
      <div class="form">
        <div style="width: 30%;">
          <mat-label>Restaurant Logo</mat-label>
          &nbsp; &nbsp;
          <div width="20%">
            <input type="file" (change)="onFileRestaurantUpload($event)">
          </div>
        </div>
        <div style="width: 10%;"></div>
        <div style="width: 30%;">
          <mat-label>Restaurant Banner</mat-label>
          <div width="20%">
            <input type="file" (change)="onFileBannerUpload($event)">
          </div>
        </div>
      </div>
      <div class="form">
        <mat-label>Restaurant Food Type</mat-label>&nbsp;&nbsp;            
            <mat-radio-group [(ngModel)]="resturantFoodTypeSelected">
              <mat-radio-button *ngFor="let type of foodType" [value]="type">
                {{ type }} 
              </mat-radio-button>
            </mat-radio-group>                    
        <!-- <mat-radio-group aria-label="Select an option" [(ngModel)]="data.orderType">
          <mat-radio-button [value]="1">Vegetarian</mat-radio-button>
          <mat-radio-button [value]="2">Non Vegetarian</mat-radio-button>
          <mat-radio-button [value]="3">Both (Vegetarian / Non Vegetarian)</mat-radio-button>
        </mat-radio-group> -->
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput class="form-control" placeholder="Restaurant Title" [(ngModel)]="data.name" name="title"
            required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput class="form-control" placeholder="Restaurant DisplayName" [(ngModel)]="data.displayName"
            name="displayName" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <!-- <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="State" [(ngModel)]="data.state" name="state" maxlength="10" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Url" [(ngModel)]="data.url" name="url">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Created at" [(ngModel)]="data.created_at" name="created_at">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Updated at" [(ngModel)]="data.updated_at" name="updated_at">
        </mat-form-field>
      </div> -->

    <div mat-dialog-actions>
      <button mat-button [type]="submit" color="primary" style="width: 40%;" [disabled]="!formControl.valid"
        [mat-dialog-close]="1" (click)="confirmAdd(formControl)">Save</button>
      <button mat-button style="width: 40%;" color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>