<div class="container">


  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div *ngIf="router == '/category'">
      <h3 mat-dialog-title>Add new Category</h3>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Category Title" [(ngModel)]="data.name" name="title" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Category DisplayName" [(ngModel)]="data.displayName" name="displayName" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Quality" [(ngModel)]="data.quality" name="Quality">
        </mat-form-field>
      </div>
      <div class="form">
        <mat-label>Logo</mat-label> &nbsp; &nbsp;
        <div width="20%">
          <input type="file" (change)="onFileUpload($event)">
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button [type]="submit" color="primary" style="width: 40%;" [disabled]="!formControl.valid"
        [mat-dialog-close]="1" (click)="confirmAdd(formControl)">Save</button>
      <button mat-button style="width: 40%;" color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>